
/*--VERSION #5:
    Please update the version # everytime you update the code!
    Now supports styling for quiz.html too*/

/*TODO: Rename downloaded file to index-style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Styling for the html tag, this will center everything */
html {
    font-size: 25px;
    color: #F58B8D;
    background-image: linear-gradient(#0C3058,#2E5C9D);
    height: 100%;
    padding: 15px;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50px;
    white-space: nowrap;
}

/*Website Name logo in top left*/
#siteTitle{
	font-size:	60px;
	padding: 15px 15px;
    color: #F58B8D;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{ 
    font-family: 'Poppins', sans-serif;
    float: right; 
    width: 70%; 
    height: 100%; 
    margin: none;
} 
      
#menu ul{ 
    text-align: center; 
    float: right; 
    margin: none; 
} 
      
#menu li{ 
    display: inline-block; 
    padding: none; 
    margin: none; 
} 
      
#menu li a, #menu li span{ 
    display: inline-block; 
    padding: 0em 0.5em; 
    text-decoration: none; 
    font-weight: 600; 
    /*text-transform: uppercase; */
    line-height: 60px;
} 
      
#menu li a{ 
    color: #F7D5D5;
} 
      
#menu li:hover a, #menu li span{ 
    color: white;
} 

/***************************/
/* Styling Body            */
/***************************/
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

#header {
	font-size: 40px;
  	padding: 15px 15px;
  	color: #F58B8D;
}

button{
    cursor: pointer; /* Change cursor type when element is hovered over*/
    color: #97A9E6;
    width: auto;
    white-space: normal;
    background-color: white;
    border: solid;
    border-radius: 15px;
    padding: 15px 30px;
    margin: 25px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px 10px #999; /* X offset, Y offset, color */
}

button:hover{
    background-color: #FDD5D6;
}

button:active{
    background-color: #F58B8D; /* Change background color when pressed */
    color: white;
    box-shadow: 0px 5px #666; /* X offset, Y offset, color of box shadow*/
    transform: translateY(5px); /* Move the button down 5px when pressed (makes button look like it's moving)*/
}
.quizChoice{
    width: 30%;
    white-space: normal;
}
.content {
  padding: 5px;
  color: white;
}
.subheader{
	color: #F58B8D;
}
.tab {
  display: none;
}

.step {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.active{
	background-color: #FDD5D6;
}
.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #F58B8D;
}

